.skill-grid {
  display: grid;
  gap: 1rem;
  align-self: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100vw;
  justify-items: center;
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: var(--color-dark-slate-background);
}

.project-image {
  width: 80%;
  transition: all 0.5s;
}

.skill-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 90%;
  background-color: var(--color-dark-slate-background);
  z-index: 1;
}

.progress-border {
  width: 90%;
  height: 0.5rem;
  background-color: #7f8c9f;
}

.progress-bar {
  display: block;
  position: relative;
  height: 0.5rem;
}

.progress-bar-fill {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #eceef1;
}

@media screen and (min-width: 800px) {
  .skill-grid {
    //grid-template-columns: repeat(5, 1fr);
    max-width: 40%;
  }

  .skill-info {
    display: none;
  }

  .skill-item {
    &:hover {
      .skill-info {
        display: flex;
      }

      .project-image {
        width: 100%;
      }

      .progress-bar-fill {
        animation: progressBar 0.5s ease-out;
        animation-fill-mode: both;
        -webkit-animation: progressBar 0.5s ease-out;
        -webkit-animation-fill-mode: both;
        -moz-animation: progressBar 0.5s ease-out;
        -moz-animation-fill-mode: both;
      }
    }
  }
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-moz-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
