.projects {
  margin: 0 1rem;
  min-height: 100vh;
  border-radius: 2rem;
  background-color: var(--color-dark-slate-background);

  h2 {
    margin: var(--spacing-8) 0 var(--spacing-20) 0;
  }

  & > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
  }
}

.frontend-projects {
  margin-bottom: var(--spacing-20);
}

.projects-subheading {
  margin: 0 0 var(--spacing-10) var(--spacing-8);
  text-align: center;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
