.projects-wrapper {
  padding: 0 var(--spacing-4);
}

.projects {
  min-height: 100vh;
  border-radius: 2rem;
  background-color: var(--color-dark-slate-background);

  h2 {
    margin-bottom: var(--spacing-20);
  }

  & > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
  }
}

.frontend-projects {
  margin-bottom: var(--spacing-20);
}

.projects-subheading {
  margin-bottom: var(--spacing-10);
  text-align: center;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

@media screen and (min-width: 1024px) {
  .projects-wrapper {
    padding: 0 var(--spacing-8);
  }
}
