.project-page-header {
  height: 10rem;
  background: linear-gradient(
    to bottom,
    var(--color-dark-slate-background),
    var(--color-dark-background)
  );
}

.project-page-back-button {
  margin-right: 1rem;
  background: none;
  border: none;
  cursor: pointer;

  svg {
    width: 4rem;
    height: 4rem;
  }

  path {
    transition: fill 0.2s;
    fill: white;
  }

  &:hover {
    path {
      fill: var(--color-main-light);
    }
  }
}

.project-page-title {
  padding-left: var(--spacing-4);
  position: relative;
  top: 1rem;
  width: 90%;
  height: 75%;

  h1 {
    margin: 1rem 0 2rem 0;
  }
}

.project-page {
  padding: 0 var(--spacing-8);
}

.project-page-article {
  padding: var(--spacing-16);
  margin: 0 auto;
  max-width: 1440px;
  background-color: var(--color-dark-slate-background);
  border-radius: 2rem;

  & > section {
    margin-left: var(--spacing-8);
  }

  h2 {
    margin-top: 0;
  }
}

.project-page-links {
  width: 95%;
  margin: var(--spacing-16) auto;
}

.project-article-content {
  display: flex;
  flex-direction: column;
}

.project-article-body {
  flex: 1 1 50%;

  ul {
    margin-left: var(--spacing-16);
  }
}

.project-page-screenshots {
  flex: 1 1 50%;

  .screenshot-carousel {
    background-color: var(--color-dark-background);
    border-radius: 2rem;
  }
}

.project-page-screenshot-grid {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  gap: 1rem;
  margin: 0;
  list-style: none;
}

.project-page-screenshot-grid-item {
  display: flex;
  padding: 5px;
  width: 15rem;
  height: 10rem;
  background-color: var(--color-dark-background);
  border: 2px solid white;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .project-article-content {
    flex-direction: row;
  }

  .project-page-screenshots {
    padding-left: 2rem;

    .screenshot-carousel {
      display: none;
    }
  }

  .project-page-screenshot-grid {
    display: grid;
  }
}
