.project-overview {
  background-color: var(--color-dark-background);
  border-radius: 3rem 2rem 1rem 1rem;
  width: 90%;
  max-width: 2040px;
}

.project-overview-header {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 1rem;
}

.project-overview-title {
  margin: 0 -2rem 0 -7rem;
  padding-left: 5rem;
  width: 110%;
  height: 6rem;

  h3 {
    margin: 0;
  }
}

.project-overview-icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 7rem;
  height: 7rem;
  right: 3rem;
  border-radius: 5rem;
  background-color: white;
  z-index: 1;

  img {
    width: 75px;
  }
}

.project-overview-info-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  a {
    width: 48%;
  }
}

.project-overview-info {
  padding: 0rem 1rem 1rem;
}

.project-overview-info-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--spacing-8);
}

.project-overview-info-details-link {
  text-align: left;
}

@media screen and (min-width: 900px) {
  .project-overview-info-details {
    display: flex;
    flex-direction: row;
  }

  .project-overview-info-details-description {
    padding-right: 2rem;
    width: 80%;
  }

  .project-overview-info-details-link {
    margin-left: 0;
  }
}
