.about-wrapper {
  background-color: var(--color-dark-slate-background);
}

.about {
  min-height: 50vh;
  justify-content: center;

  h2 {
    margin: 0 0 var(--spacing-8);
  }

  @media screen and (min-width: 576px) {
    p {
      width: 75%;
    }
  }

  @media screen and (min-width: 1024px) {
    p {
      width: 50%;
    }
  }
}
