.back-button {
  padding-right: 1rem;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline-width: 4px;
    outline-color: var(--color-main-light);
  }

  &:hover,
  &:focus {
    .back-arrow-icon {
      background-color: var(--color-main-light);
    }
  }
}

.back-arrow-icon {
  width: 3rem;
  height: 3rem;
  mask: url(/svg/backarrow.svg) no-repeat center center;
  background-color: white;
}

@media screen and (min-width: 576px) {
  .back-arrow-icon {
    width: 4rem;
    height: 4rem;
  }
}
