.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 3rem);
  padding: 4rem 2rem;
  background: linear-gradient(
    to bottom,
    var(--color-dark-slate-background),
    var(--color-dark-background)
  );

  h1 {
    margin: 0 0 1rem 0;
    font-size: 3rem;
    z-index: 1;
  }

  p {
    z-index: 1;
  }
}

.intro-particles {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'; /* IE 8 & 9 */
  filter: alpha(opacity=0); /* newer IE */
  -moz-opacity: 0; /* Older than Firefox 0.9 */
  -khtml-opacity: 0; /* Safari 1.x (pre WebKit) */
  opacity: 0; /* (modern browsers) initially sets nothing displayed on page */
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}

@media screen and (min-width: 380px) {
  .intro {
    padding: 4rem;
  }
}
