.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-4);
  height: 5rem;
  background-color: var(--color-dark-background);
  text-align: center;

  p {
    margin: 0 0.5rem;
  }
}
